1. Install pandas using pip

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

3. Load dataset & show first rows

In [2]:
import pandas as pd

df = pd.read_csv("student_marks.csv")
print(df.head())

  Unnamed: 0 Gender         DOB  Maths  Physics  Chemistry  English  Biology  \
0       John      M  05-04-1988     55       45         56       87       21
1     Suresh      M  04-05-1987     75       96         78       64       90
2     Ramesh      M  25-05-1989     25       54         89       76       95
3    Jessica      F  12-08-1990     78       96         86       63       54
4   Jennifer      F  02-09-1989     58       96         78       46       96

   Economics  History  Civics
0         52       89      65
1         61       58       2
2         87       56      74
3         89       75      45
4         77       83      53

4. Check basic information (rows, columns, dtypes)

In [3]:
print(df.shape)       # rows, columns
print(df.columns)     # column names
print(df.info())      # data types & memory
print(df.describe())  # summary of numeric data

(10, 11)
Index(['Unnamed: 0', 'Gender', 'DOB', 'Maths', 'Physics', 'Chemistry',
       'English', 'Biology', 'Economics', 'History', 'Civics'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     object
 1   Gender      10 non-null     object
 2   DOB         10 non-null     object
 3   Maths       10 non-null     int64
 4   Physics     10 non-null     int64
 5   Chemistry   10 non-null     int64
 6   English     10 non-null     int64
 7   Biology     10 non-null     int64
 8   Economics   10 non-null     int64
 9   History     10 non-null     int64
 10  Civics      10 non-null     int64
dtypes: int64(8), object(3)
memory usage: 1012.0+ bytes
None
           Maths    Physics  Chemistry    English    Biology  Economics  \
count  10.000000  10.000000  10.000000  10.000000  10.000000  10.000000
mean   59.600000  72.300000  75.300000  69.700000  64.700000  72.700000
std    19.460501  20.661559  14.000397  14.453373  26.998148  14.629119
min    25.000000  45.000000  52.000000  46.000000  21.000000  52.000000
25%    54.250000  56.250000  65.000000  59.250000  54.250000  58.750000
50%    55.000000  70.000000  78.000000  69.500000  66.500000  76.000000
75%    70.750000  93.750000  86.750000  81.250000  87.000000  86.000000
max    96.000000  96.000000  89.000000  89.000000  96.000000  89.000000

         History   Civics
count  10.000000  10.0000
mean   69.700000  60.5000
std    14.453373  25.3432
min    46.000000   2.0000
25%    59.250000  52.2500
50%    69.500000  63.0000
75%    81.250000  76.2500
max    89.000000  89.0000

5. Find & handle missing values

In [4]:
print(df.isnull().sum())    # how many missing values?

# Option 1: Fill missing values with mean
df_filled = df.fillna(df.mean(numeric_only=True))

# Option 2: Remove rows with missing values
df_dropped = df.dropna()

Unnamed: 0    0
Gender        0
DOB           0
Maths         0
Physics       0
Chemistry     0
English       0
Biology       0
Economics     0
History       0
Civics        0
dtype: int64

6. Calculate average, highest, lowest values

In [5]:
print("Average Marks:")
print(df.mean(numeric_only=True))

print("\nHighest Marks:")
print(df.max(numeric_only=True))

print("\nLowest Marks:")
print(df.min(numeric_only=True))

Average Marks:
Maths        59.6
Physics      72.3
Chemistry    75.3
English      69.7
Biology      64.7
Economics    72.7
History      69.7
Civics       60.5
dtype: float64

Highest Marks:
Maths        96
Physics      96
Chemistry    89
English      89
Biology      96
Economics    89
History      89
Civics       89
dtype: int64

Lowest Marks:
Maths        25
Physics      45
Chemistry    52
English      46
Biology      21
Economics    52
History      46
Civics        2
dtype: int64

Project:
Analyze a Simple Sales Dataset to find: total sales, best-selling product, and create a basic report

In [8]:
import pandas as pd

sales = pd.read_csv("sales_dataset.csv")
print(sales.head())

    Product  Quantity  Price
0       Pen        10      5
1  Notebook         5     20
2    Marker         8     10
3       Pen        12      5
4  Notebook         7     20

1. Total Sales

In [9]:
sales["Total"] = sales["Quantity"] * sales["Price"]
total_sales = sales["Total"].sum()

print("Total Sales:", total_sales)

Total Sales: 470

2. Best-Selling Product

In [10]:
best_product = (
    sales.groupby("Product")["Quantity"]
    .sum()
    .idxmax()
)

print("Best Selling Product:", best_product)

Best Selling Product: Pen

3. Create a Simple Report

In [11]:
report = {
    "Total Sales": total_sales,
    "Best Selling Product": best_product,
    "Total Quantity Sold": sales["Quantity"].sum(),
    "Average Sale Value": sales["Total"].mean()
}

print("\n--- SALES REPORT ---")
for key, value in report.items():
    print(f"{key}: {value}")

--- SALES REPORT ---
Total Sales: 470
Best Selling Product: Pen
Total Quantity Sold: 46
Average Sale Value: 78.33333333333333